<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
       <!-- 获取数据源，为了连接db -->
       <bean id="dataSource" 
       		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
       		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
       		<property name="url" value="jdbc:mysql://localhost:3306/ssm"></property>
       		<property name="username" value="root"></property>
       		<property name="password" value="123456"></property>
       </bean>
       
       <!-- 配置SqlSessionFactory -->
        <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        	<property name="dataSource" ref="dataSource"></property>
        </bean>
        
        <!-- 配置mapper扫描器 -->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        	<property name="basePackage" value="com.wendao.mapper"></property>
        	<property name="sqlSessionFactory" ref="factory"></property>
        </bean>
        
        <!-- ================ 下面的bean就是 写代码时用到的 ================== -->
        
        <bean id="usersService" class="com.wendao.service.impl.UsersServiceImpl">
        	<property name="usersMapper" ref="usersMapper"></property>
        </bean>
        
        
</beans>















