<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 全局配置文件 -->
<!-- 鼠标悬停在 configuration上可知各种标签应书写顺序 -->
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
	<typeAliases>
		<!-- 
			 <typeAlias type="com.wendao.pojo.People" alias="peo"/>
		 -->
		<package name="com.wendao.pojo" /> 
		<!-- 写了后，在PeopleMapper.xml中 com.wendao.pojo.People 可简写为People -->
	</typeAliases>

	<environments default="def">
		<environment id="def">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/ssm"/>
				<property name="username" value="root"/>
				<property name="password" value="123456"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/wendao/mapper/PeopleMapper.xml"/>
		<mapper resource="com/wendao/mapper/PeopleMapper2.xml"/>
	</mappers>
</configuration>
