<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/aop
	 http://www.springframework.org/schema/aop/spring-aop.xsd
	 http://www.springframework.org/schema/tx
	 http://www.springframework.org/schema/tx/spring-tx.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/ssm"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>

	<!-- spring提供的事务管理器 spring-jdbc.jar -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>	
	</bean>


	<!-- 声明式事务标签。配置声明式事务。 声明哪个方法需要进行事务控制 如何进行事务控制 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<!-- 配置哪些方法需要进行事务控制, ins* 指：ins开头的方法名 -->
			<tx:method name="insert" isolation="SERIALIZABLE"/>
			<tx:method name="insUsers"  propagation="NOT_SUPPORTED"/>
			<tx:method name="del*" no-rollback-for="" />
			<tx:method name="upd*" rollback-for="java.lang.Exception" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>



	<aop:config>
	
		<!-- 配置切点。切点中有很多方法，其中有些方法是需要事务控制的，在tx:advice中配置 -->
		<aop:pointcut
			expression="execution(* com.wendao.service.impl.*.*(..))"
			id="mypoint" />

		<aop:advisor advice-ref="txAdvice" pointcut-ref="mypoint" />
	</aop:config>




</beans>











