<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.wendao.mapper.TeacherMapper">

	<resultMap type="Teacher" id="map1">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<collection property="list"
			ofType="Student" 
		    column="id"
		    select="com.wendao.mapper.StudentMapper.selByTid"></collection>
	</resultMap>
	<select id="selAll2" resultMap="map1">
		select * from teacher
	</select>
	
	
</mapper>
 
 